<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   APITokens.plist
   MovieSwift

   Created by Doron Katz on 11/14/19.
   Copyright (c) 2019 Thomas Ricouard. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
